<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {{asset "/EduappReport/Test1/styles.css"}}
    </style>
    
</head>

<body>
    <div class="WrapperHeader">
        <div class="ContentHeader">
            <img src="{{asset "/EduappReport/Test1/EduappLogo.png" "dataURI"}}" width="40" height="40" />
        </div>
    </div>

    <div class="container">
        <h1>Eduapp Report</h1>
        
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Name</div>
                <div class="col col-2">Description</div>
                <div class="col col-3">firstfile</div>
                <div class="col col-4">secondfile</div>
                <div class="col col-1">thirdfile</div>
                <div class="col col-2">createdBy</div>
            </li>
            {{#each data}}
                <li class="table-row">
                    <div class="col col-1">{{name}}</div>
                    <div class="col col-2">{{description}}</div>
                    <div class="col col-3">{{#if firstfile}} Yes {{else}} No {{/if}}</div>
                    <div class="col col-4">{{#if secondfile}} Yes {{else}} No {{/if}}</div>
                    <div class="col col-1">{{#if thirdfile}} Yes {{else}} No {{/if}}</div>
                    <div class="col col-2">{{createdBy}}</div>
                </li>
            {{/each}}
        </tbody>
    </table>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script>
var xValues = [50,60,70,80,90,100,110,120,130,140,150];
var yValues = [7,8,8,9,9,90,10,11,14,14,15];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
</script>
    </body>
</html>