<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {
        {asset "./styles.css"}
        }
    </style>
    
</head>

<body>
    <div class="WrapperHeader">
        <div class="ContentHeader">
            <img src="{{asset "/EduappReport/Test1/EduappLogo.png" "dataURI"}}" width="40" height="40" />
            
    </div>
        <h1>Eduapp report</h1>
    </div>

    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>firstfile</th>
            <th>secondfile</th>
            <th>thirdfile</th>
            <th>createdBy</th>
            <th>id</th>




        </thead>
        <tbody>
            {{#each data}}
            <tr style="cursor:pointer">
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{firstfile}}</td>
                <td>{{secondfile}}</td>
                <td>{{thirdfile}}</td>
                <td>{{createdBy}}</td>
                <td>{{course_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script>
var xValues = [50,60,70,80,90,100,110,120,130,140,150];
var yValues = [7,8,8,9,9,90,10,11,14,14,15];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
</script>
    </body>
</html>